<launch>
  <master auto="start"/>  
  <remap from="odom" to="beego/odometry" />
  <remap from="scan" to="beego/scan" />

  <!--remap from="base_scan" to="beego/scan" /-->
  <!--param name="/use_sim_time" value="true"/-->
  <!--node pkg="explore_beego" type="fake_clock.py" name="fake_clock"/-->

  <node pkg="tf" type="static_transform_publisher" name="fake_localize" 
        args="0 0 0 0 0 0 map odom 10"/>
  <node pkg="explore_beego" type="tf_odom_base.py" name="tf_odom_base" />
  <node pkg="tf" type="static_transform_publisher" name="tf_footprint" 
        args="0 0 0 0 0 0 base_footprint base_link 10"/>
  <node pkg="tf" type="static_transform_publisher" name="tf_laser" 
        args="0 0 0 0 0 0 base_link base_laser_link 10" />

  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
    <param name="xmax" value="20" />
    <param name="ymax" value="20" />
    <param name="maxRange" value="5" />
  </node>

  <node pkg="move_base" type="move_base" name="move_base"/>

  <node pkg="explore_beego" type="FrontierCandidates.py"
    name="FrontierCandidates"/>
  <node pkg="explore_beego" type="NextBestViewAlgorithm.py"
    name="NextBestViewAlgorithm" args="GBLNBVAlgorithm"/>
</launch>
