<launch>
  <master auto="start"/>  
  <!--param name="/use_sim_time" value="true"/-->
  <node pkg="tf" type="static_transform_publisher" name="fake_localize" args="0 0 0 0 0 0 map odom 10"/>
  <node pkg="tf" type="static_transform_publisher" name="tf_map" args="0 0 0 0 0 0 base_link map 10"/>
  <node pkg="tf" type="static_transform_publisher" name="tf_laser" args="0 0
0 0 0 0 base_link base_laser_link 10" />
  <include file="$(find explore_stage)/move.xml" />
  <include file="$(find explore_stage)/explore.xml" />
</launch>
